# Working with parquet files

## Objective

+ In this assignment, we will use the data downloaded with the module `data_manager` to create features.

(11 pts total)

## Prerequisites

+ This notebook assumes that price data is available to you in the environment variable `PRICE_DATA`. If you have not done so, then execute the notebook `01_materials/labs/2_data_engineering.ipynb` to create this data set.

+ Load the environment variables using dotenv. (1 pt)

In [98]:
%load_ext dotenv
%dotenv

The dotenv extension is already loaded. To reload it, use:
  %reload_ext dotenv

In [99]:
import dask.dataframe as dd

+ Load the environment variable `PRICE_DATA`.
+ Use [glob](https://docs.python.org/3/library/glob.html) to find the path of all parquet files in the directory `PRICE_DATA`.

(1pt)

In [100]:
import os
from glob import glob

PRICE_DATA = os.getenv("PRICE_DATA")

parquet_files = glob(os.path.join(PRICE_DATA, "**/*.parquet"), recursive = True)
dd_px = dd.read_parquet(parquet_files).set_index("ticker")

For each ticker and using Dask, do the following:

+ Add lags for variables Close and Adj_Close.
+ Add returns based on Close:
    
    - `returns`: (Close / Close_lag_1) - 1

+ Add the following range: 

    - `hi_lo_range`: this is the day's High minus Low.

+ Assign the result to `dd_feat`.

(4 pt)

In [101]:
print(dd_px.columns)
dd_px

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'source',
       'Year'],
      dtype='object')

Dask DataFrame Structure:
                          Date     Open     High      Low    Close Adj Close   Volume  source   Year
npartitions=89
ACN             datetime64[ns]  float64  float64  float64  float64   float64  float64  string  int32
AIT                        ...      ...      ...      ...      ...       ...      ...     ...    ...
...                        ...      ...      ...      ...      ...       ...      ...     ...    ...
ZIXI                       ...      ...      ...      ...      ...       ...      ...     ...    ...
ZIXI                       ...      ...      ...      ...      ...       ...      ...     ...    ...
Dask Name: setindex, 2 expressions
Expr=SetIndex(frame=ReadParquetFSSpec(1413b62), _other='ticker', options={})

In [102]:
'''
First, Less Efficient Version:

dd_shift = dd_px.groupby('ticker', group_keys=False).apply(
    lambda x: x.assign(Close_Lag_1 = x['Close'].shift(1))
)

dd_rets = dd_doubleshift.assign(
    Returns = lambda x: x['Close']/x['Close_Lag_1'] - 1
)

dd_adj_lag1_shift = dd_rets.groupby('ticker', group_keys=False).apply(
    lambda x: x.assign(Adj_Close_Lag_1 = x['Adj Close'].shift(1))
)

dd_hi_lo = dd_adj_lag1_shift.assign(
    High_Low_Range = lambda x: x['High'] - x['Low']
)

dd_hi_lo.compute()
dd_feat = dd_hi_lo
print(dd_feat)

'''

"\nFirst, Less Efficient Version:\n\ndd_shift = dd_px.groupby('ticker', group_keys=False).apply(\n    lambda x: x.assign(Close_Lag_1 = x['Close'].shift(1))\n)\n\ndd_rets = dd_doubleshift.assign(\n    Returns = lambda x: x['Close']/x['Close_Lag_1'] - 1\n)\n\ndd_adj_lag1_shift = dd_rets.groupby('ticker', group_keys=False).apply(\n    lambda x: x.assign(Adj_Close_Lag_1 = x['Adj Close'].shift(1))\n)\n\ndd_hi_lo = dd_adj_lag1_shift.assign(\n    High_Low_Range = lambda x: x['High'] - x['Low']\n)\n\ndd_hi_lo.compute()\ndd_feat = dd_hi_lo\nprint(dd_feat)\n\n"

In [103]:
'''
Second, More Efficient Version:
'''

dd_doubleshift = dd_px.groupby('ticker', group_keys=False).apply(
    lambda x: x.assign(Close_Lag_1 = x['Close'].shift(1), 
                       Adj_Close_Lag_1 = x['Adj Close'].shift(1))
)
dd_feat = dd_doubleshift.assign(
    Returns = lambda x: x['Close']/x['Close_Lag_1'] - 1, 
    High_Low_Range = lambda x: x['High'] - x['Low']
)

dd_feat.compute()

C:\Users\irene\AppData\Local\Temp\ipykernel_22004\2636899747.py:5: UserWarning: `meta` is not specified, inferred from partial data. Please provide `meta` if the result is unexpected.
  Before: .apply(func)
  After:  .apply(func, meta={'x': 'f8', 'y': 'f8'}) for dataframe result
  or:     .apply(func, meta=('x', 'f8'))            for series result
  dd_doubleshift = dd_px.groupby('ticker', group_keys=False).apply(

,Date,Open,High,Low,Close,Adj Close,Volume,source,Year,Close_Lag_1,Adj_Close_Lag_1,Returns,High_Low_Range
ticker,,,,,,,,,,,,,
ACN,2001-07-19,15.10,15.29,15.00,15.17,11.404394,34994300.0,ACN.csv,2001,NaN,NaN,NaN,0.29
ACN,2001-07-20,15.05,15.05,14.80,15.01,11.284108,9238500.0,ACN.csv,2001,15.17,11.404394,-0.010547,0.25
ACN,2001-07-23,15.00,15.01,14.55,15.00,11.276587,7501000.0,ACN.csv,2001,15.01,11.284108,-0.000666,0.46
ACN,2001-07-24,14.95,14.97,14.70,14.86,11.171341,3537300.0,ACN.csv,2001,15.00,11.276587,-0.009333,0.27
ACN,2001-07-25,14.70,14.95,14.65,14.95,11.238999,4208100.0,ACN.csv,2001,14.86,11.171341,0.006057,0.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZIXI,2020-03-26,4.06,4.53,3.88,4.51,4.510000,1668500.0,ZIXI.csv,2020,4.00,4.000000,0.127500,0.65
ZIXI,2020-03-27,4.49,4.71,4.10,4.60,4.600000,1146800.0,ZIXI.csv,2020,4.51,4.510000,0.019956,0.61
ZIXI,2020-03-30,4.83,4.87,4.44,4.64,4.640000,1212000.0,ZIXI.csv,2020,4.60,4.600000,0.008696,0.43
ZIXI,2020-03-31,4.60,4.69,4.10,4.31,4.310000,1057200.0,ZIXI.csv,2020,4.64,4.640000,-0.071121,0.59
ZIXI,2020-04-01,4.11,4.16,3.80,3.82,3.820000,539500.0,ZIXI.csv,2020,4.31,4.310000,-0.113689,0.36

+ Convert the Dask data frame to a pandas data frame. 
+ Add a new feature containing the moving average of `returns` using a window of 10 days. There are several ways to solve this task, a simple one uses `.rolling(10).mean()`.

(3 pt)

In [104]:
print(dd_feat)

Dask DataFrame Structure:
                          Date     Open     High      Low    Close Adj Close   Volume  source   Year Close_Lag_1 Adj_Close_Lag_1  Returns High_Low_Range
npartitions=89
ACN             datetime64[ns]  float64  float64  float64  float64   float64  float64  string  int32     float64         float64  float64        float64
AIT                        ...      ...      ...      ...      ...       ...      ...     ...    ...         ...             ...      ...            ...
...                        ...      ...      ...      ...      ...       ...      ...     ...    ...         ...             ...      ...            ...
ZIXI                       ...      ...      ...      ...      ...       ...      ...     ...    ...         ...             ...      ...            ...
ZIXI                       ...      ...      ...      ...      ...       ...      ...     ...    ...         ...             ...      ...            ...
Dask Name: assign, 14 expressions
Expr=Assign(frame=Assign(frame=Assign(frame=Assign(frame=GroupByApply(frame=SetIndex(frame=ReadParquetFSSpec(1413b62), _other='ticker', options={}), observed=False, group_keys=False, func=<function <lambda> at 0x0000025D9E375E50>, meta=<no_default>, args=(), kwargs={})))))

In [105]:
pd_feat = dd_feat.compute()

In [106]:
pd_feat

,Date,Open,High,Low,Close,Adj Close,Volume,source,Year,Close_Lag_1,Adj_Close_Lag_1,Returns,High_Low_Range
ticker,,,,,,,,,,,,,
ACN,2017-01-03,117.379997,117.809998,115.820000,116.459999,110.311638,2351600.0,ACN.csv,2017,NaN,NaN,NaN,1.989998
ACN,2017-01-04,116.910004,117.800003,116.430000,116.739998,110.576851,2639800.0,ACN.csv,2017,116.459999,110.311638,0.002404,1.370003
ACN,2017-01-05,116.980003,117.139999,114.949997,114.989998,108.919258,3685400.0,ACN.csv,2017,116.739998,110.576851,-0.014991,2.190002
ACN,2017-01-06,114.989998,116.739998,114.339996,116.300003,110.160088,4125300.0,ACN.csv,2017,114.989998,108.919258,0.011392,2.400002
ACN,2017-01-09,116.139999,116.349998,114.919998,115.000000,108.928719,2550800.0,ACN.csv,2017,116.300003,110.160088,-0.011178,1.430000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZIXI,2004-06-28,8.440000,8.500000,7.660000,8.030000,8.030000,809200.0,ZIXI.csv,2004,8.660000,8.660000,-0.072748,0.840000
ZIXI,2004-06-29,8.060000,8.060000,7.590000,7.650000,7.650000,467500.0,ZIXI.csv,2004,8.030000,8.030000,-0.047322,0.470000
ZIXI,2004-06-30,7.640000,7.950000,7.550000,7.890000,7.890000,364000.0,ZIXI.csv,2004,7.650000,7.650000,0.031373,0.400000
ZIXI,2004-07-01,7.800000,7.950000,7.560000,7.700000,7.700000,189600.0,ZIXI.csv,2004,7.890000,7.890000,-0.024081,0.390000
ZIXI,2004-07-02,7.740000,7.740000,7.550000,7.590000,7.590000,144200.0,ZIXI.csv,2004,7.700000,7.700000,-0.014286,0.190000

In [107]:
pd_group = pd_feat.groupby("ticker", group_keys=False).apply(
    lambda x: x.assign(Rolling_Average_10 = x["Returns"].rolling(10).mean())
)
pd_group

,Date,Open,High,Low,Close,Adj Close,Volume,source,Year,Close_Lag_1,Adj_Close_Lag_1,Returns,High_Low_Range,Rolling_Average_10
ticker,,,,,,,,,,,,,,
ACN,2017-01-03,117.379997,117.809998,115.820000,116.459999,110.311638,2351600.0,ACN.csv,2017,NaN,NaN,NaN,1.989998,NaN
ACN,2017-01-04,116.910004,117.800003,116.430000,116.739998,110.576851,2639800.0,ACN.csv,2017,116.459999,110.311638,0.002404,1.370003,NaN
ACN,2017-01-05,116.980003,117.139999,114.949997,114.989998,108.919258,3685400.0,ACN.csv,2017,116.739998,110.576851,-0.014991,2.190002,NaN
ACN,2017-01-06,114.989998,116.739998,114.339996,116.300003,110.160088,4125300.0,ACN.csv,2017,114.989998,108.919258,0.011392,2.400002,NaN
ACN,2017-01-09,116.139999,116.349998,114.919998,115.000000,108.928719,2550800.0,ACN.csv,2017,116.300003,110.160088,-0.011178,1.430000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZIXI,2004-06-28,8.440000,8.500000,7.660000,8.030000,8.030000,809200.0,ZIXI.csv,2004,8.660000,8.660000,-0.072748,0.840000,0.002206
ZIXI,2004-06-29,8.060000,8.060000,7.590000,7.650000,7.650000,467500.0,ZIXI.csv,2004,8.030000,8.030000,-0.047322,0.470000,-0.003664
ZIXI,2004-06-30,7.640000,7.950000,7.550000,7.890000,7.890000,364000.0,ZIXI.csv,2004,7.650000,7.650000,0.031373,0.400000,-0.006777
ZIXI,2004-07-01,7.800000,7.950000,7.560000,7.700000,7.700000,189600.0,ZIXI.csv,2004,7.890000,7.890000,-0.024081,0.390000,-0.008126
ZIXI,2004-07-02,7.740000,7.740000,7.550000,7.590000,7.590000,144200.0,ZIXI.csv,2004,7.700000,7.700000,-0.014286,0.190000,-0.010625

In [ ]:
'''
Xindi's code to visualize lambda x: (anonymous function), so this shows that 

pd_feat.groupby("ticker", group_keys=False).apply(
    lambda x: x.assign(...) 

the .groupby(...) function temporarily separates the dataframe into mini dataframes or "sub datagrames",
then stitches it back together after again into one complete dataframe

---

counter = {"n": 0}  # mutable object so we can update inside function

def debug_group(x):
    if counter["n"] < 5:   # print only the first 2 groups
        print("\n--- Sub-DataFrame for ticker:", x.index.get_level_values("ticker")[0], "---")
        print(x.head())
        counter["n"] += 1
    return x

pd_feat.groupby("ticker").apply(debug_group)

'''

'\nXindi\'s code to visualize lambda x: (anonymous function),\n.grou\n\n\ncounter = {"n": 0}  # mutable object so we can update inside function\n\ndef debug_group(x):\n    if counter["n"] < 5:   # print only the first 2 groups\n        print("\n--- Sub-DataFrame for ticker:", x.index.get_level_values("ticker")[0], "---")\n        print(x.head())\n        counter["n"] += 1\n    return x\n\npd_feat.groupby("ticker").apply(debug_group)\n'

In [109]:
'''
My version that ran an error:
pd_group = pd_feat['Returns'].groupby(pd_feat["ticker"]).rolling(10).mean()

Version 2: 
pd_group['Rolling_Average_10'] = (
    pd_feat.groupby('ticker')['Returns']
    .transform(lambda x: x.rolling(10).mean())
)
pd_group
'''

'\nMy version that ran an error:\npd_group = pd_feat[\'Returns\'].groupby(pd_feat["ticker"]).rolling(10).mean()\n\nVersion 2: \npd_group[\'Rolling_Average_10\'] = (\n    pd_feat.groupby(\'ticker\')[\'Returns\']\n    .transform(lambda x: x.rolling(10).mean())\n)\npd_group\n'

Please comment:

+ Was it necessary to convert to pandas to calculate the moving average return?
+ Would it have been better to do it in Dask? Why?

(1 pt)

It was not necessary to conver to pandas to calculate the moving average return, but it is simpler coding to convert it to pandas first, then calculate.

## Criteria

The [rubric](./assignment_1_rubric_clean.xlsx) contains the criteria for grading.

## Submission Information

🚨 **Please review our [Assignment Submission Guide](https://github.com/UofT-DSI/onboarding/blob/main/onboarding_documents/submissions.md)** 🚨 for detailed instructions on how to format, branch, and submit your work. Following these guidelines is crucial for your submissions to be evaluated correctly.

### Submission Parameters:
* Submission Due Date: `HH:MM AM/PM - DD/MM/YYYY`
* The branch name for your repo should be: `assignment-1`
* What to submit for this assignment:
    * This Jupyter Notebook (assignment_1.ipynb) should be populated and should be the only change in your pull request.
* What the pull request link should look like for this assignment: `https://github.com/<your_github_username>/production/pull/<pr_id>`
    * Open a private window in your browser. Copy and paste the link to your pull request into the address bar. Make sure you can see your pull request properly. This helps the technical facilitator and learning support staff review your submission easily.

Checklist:
- [ ] Created a branch with the correct naming convention.
- [ ] Ensured that the repository is public.
- [ ] Reviewed the PR description guidelines and adhered to them.
- [ ] Verify that the link is accessible in a private browser window.

If you encounter any difficulties or have questions, please don't hesitate to reach out to our team via our Slack at `#cohort-3-help`. Our Technical Facilitators and Learning Support staff are here to help you navigate any challenges.